* {
    background-color:rgb(189, 218, 188)
   
}

.calc {
    width: 240px;
    border: 3px solid rgb(160, 177, 184);
    border-radius: 15px;
    padding: 20px;
    background: linear-gradient(rgba(160, 30, 30, 0.873), rgba(0, 0, 255, 0.69))
    
    
}

#res {
    width: 90%;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    /* background-color: lightblue; */
}

input {
    background: linear-gradient(#fff, lightblue);
}

input[type="button"] {
    width: 60px;
    margin: 1px;
    height: 40px;
    border-radius: inherit;
}